tag-selector {
  button {
    padding: 0 7px !important;
    margin: 4px 0 !important;
    box-sizing: border-box !important;
    &.button-outline {
      padding: 0 6px !important;

    }
  }
  a {
    float: right;
    line-height: 35px;
    padding: 0 3px;
    text-decoration: underline;
  }
}
